%ul.nav.nav-pills
  %li.active= link_to "Pitch New Movie", new_movie_path
%br/
%table.table.table-bordered.table-striped
  %thead
    %tr
      %th Name
      %th State
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.linked_name
        %td= movie.state
